img {

    width: 90px;
    
    height: 90px;
    
    float: left;
    
    }
    
    #idCard {
    
    border: 5px solid black;
    
    height: 14em;
    
    width: 25em;

    background-color: aquamarine;

    text-align: left;

    padding: 5px;

    margin: auto;
    
    
    }

    body  {

        background-color: coral;

        text-align: center;

        font-family: 'Open Sans', sans-serif;

    }
    section {

        margin-bottom: 25px;
    }

    #postFullName {

        text-align: center;

        margin-bottom: -1px;

        margin-top: 20px;

        font-size: 2em;

        font-weight: bold;

    }

